<section class="hero-header wrapper">
    <div class="hero-header__info">
        <span class="tag t-h5">{{ heroHeader.tag }}</span>
        <h1 class="t-h1 hero-header__title">{{ heroHeader.title }}</h1>
        <p class="t-p1 hero-header__text">{{{ heroHeader.text }}}</p>
        <button type="button" class="button-primary">Button</button>
    </div>
    <picture class="hero-header__image">
        <source srcset="src/assets/img/img-1.png" width="591" height="496" media="(min-width: 768px)" />
        <img src="src/assets/img/img-1.png" width="335" height="280" alt="" loading="lazy" />
    </picture>
</section>