<header class="header">
    <div class="header__container">
        <a href="/" class="header__link">
            <img src="src/assets/img/logo-tecalis.svg" width="82" height="48" alt="Logo" loading="lazy" />
        </a>
        <button type="button" class="header__hamburguer" data-toggle-menu>
            <img src="src/assets/img/menu.svg" width="40" height="40" alt="Open Menu" loading="lazy" />
        </button>
        <div class="header__menu" data-menu>
            <button type="button" class="header__close" data-toggle-menu>
                <span aria-label="Close Menu">X</span>
            </button>
            <ul class="header__list">
                {{#each header.menu}}
                    <li class="header__list-item">
                        <a href="{{ href }}" class="t-h5">{{ name }}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</header>