.footer {
  background-color: $c-05;
  padding-top: rem(32);
  padding-bottom: rem(32);

  &__wrapper {
    @include breakpoint(tablet) {
      display: flex;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(16);

    @include breakpoint(tablet) {
      display: flex;
      justify-content: space-between;
      flex: 1;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: rem(64);

    @include breakpoint(tablet) {
      align-items: flex-start;
      justify-content: flex-start;
      padding-right: rem(80);
      padding-bottom: 0;
    }
  }

  &__col {
    max-width: rem(175);
    width: 100%;

    &--siblings {
      grid-column: 1 / 3;
    }
  }

  &__row {
    display: flex;
    gap: rem(16);
  }

  &__subcol {
    flex: 1;
  }

  &__subtitle {
    text-transform: uppercase;
  }
}
