// GRID
$g-column: 78px !default; // Column Width
$g-gutter: 24px !default; // Gutter Width
$g-max-columns: 12 !default; // Total Columns For Main Container
$g-max-width: 1440px !default;
$g-padding-mobile: 32px !default;
$g-padding-tablet: 32px !default;
